<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Chat Room</title>
</head>
<body>
  <textarea id="chat-log" cols="100" rows="20"></textarea><br>
  <input id="chat-message-input" type="text" size="100"><br>
  <input id="chat-message-submit" type="button" value="Send">
  {{ room_name|json_script:"room-name" }}
  <script>
    const roomName =  JSON.parse(document.querySelector("#room-name").textContent);
    const chatLog = document.querySelector("chat-log");
    const chatMessageInput = document.querySelector("#chat-message-input").focus();
    const chatMessageSubmit = document.querySelector("#chat-message-submit");
    let chatSocket = undefined;

    // Create chat socket
    chatSocket = new WebSocket(`ws://${window.location.host}/ws/chat/${roomName}/`);

    // Listen for message
    chatSocket.onmessage = (e) => {
      console.log(e.data);
    /*  const date = JSON.parse(e.data);
      chatLog.value += data.message + '\n'*/
    }

    // Log error if socket is closed
    chatSocket.onclose = () => console.error("Chat closed unexpectedly");

    // Enter message and send if user clicks 'Enter' button
    chatMessageInput.onkeyup = (e) => {
      if (e.keyCode == 13) { // Enter, return
        chatMessageSubmit.click();
      }
    };

    // Send message inputs
    chatMessageSubmit.onclick = (e) => {
      const message = chatMessageInput.value;
      chatSocket.Send(JSON.stringify({
        "message": message
      }));
      chatMessageInput.value = "";
    }
  </script>
</body>
</html>
